.topbar {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: floralwhite;
    background-color: grey;
    font-size: 18px;
}

.titlename {
    font-size: 40px;
}

.titlejob {
    font-size: 18px;
}

.pagelink:link, .pagelink:visited  {
    color:floralwhite;
    text-decoration: none;
}

.pagelink:hover {
    color: floralwhite;
}